@mixin member-format {
    display: flex;
    padding: 1em 0;
    border-bottom: 1px solid black;
    width: 90%;
    height: 120px;
    img {
        border-radius: 50%;
        width: 87px;
        height: 87px;
    }
    .member-text {
        margin: auto 1em auto;
        p {
            margin-bottom: 0.25em;
            margin-top: 0;
        }
    }
    &:last-child {
        border-bottom: 0;
    }
    .date {
        margin: auto;
        margin-right: 0;
    }
}