@import '../utility/variables';

@mixin member-format {
    display: flex;
    padding: 1em 0;
    border-bottom: 1px solid black;
    width: calc(95vw - 4em);
    margin: 0 auto;
    img {
        border-radius: 50%;
        width: 87px;
        height: 87px;
    }
    .member-text {
        p {
            margin-bottom: 0.25em;
            margin-top: 0;
            color: black;
            font-weight: bold;
            &:last-child {
                font-weight: normal;
                color: $grey;
            }
        }
    }
    &:last-child {
        border-bottom: 0;
    }
    .date {
        margin: auto;
        margin-right: 0;
    }
    @media (min-width: 768px) {
        width: 100%;
        height: 8em;
    }
}