@import '../utility/variables';
@import '../utility/mixins';

* {
    box-sizing: border-box;
}

//The Header
.main-header {
    background-color: $primary-color;
    align-content: center;
    padding-bottom: 0.125em;
    height: 8em;
    p {
        margin: auto;
        color: white;
        font-size: 2em;
        text-align: center;
    }
    .header-list {
        padding: 0;
        list-style: none;
        display: flex;
        width: 100%;
        margin-top: -1.5em;
        .header-item {
            margin: auto;
            li{
                text-align: center;
                transform: scale(.5);
                width: 100%;
                &:last-child {
                    text-align: center;
                    display: flex;
                    .profile-img {
                        border-radius: 50%;
                        margin-right: 1em;
                    }
                    h3 {
                        margin: auto 0;
                        color: white;
                        font-size: 2em;
                    }
                }
            }
        }
    }
}

//The Nav
.nav-list {
    background-color: $darken-color;
    list-style: none;
    margin: 0;
    padding: 1em 0;
    display: flex;
    .nav-icon {
        margin: 0em calc(calc(100% - 256px) / 8);
    }
}

//The Search
.search-section {
    background-color: white;
    .search-area {
        margin: 0 auto;
        .search-div {
            display: flex;
            h2 {
                padding-left: 2em;
                margin-right: 2em;
            }
            .search-bar {
                margin: auto 0;
                margin-top: 0;
                padding: 1em;
                padding-right: 2em;
                background-color: #eee;
                width: 100%;
                border-left: 1px solid black;
                border-bottom: 1px solid black;
                input {
                    margin-left: 50%;
                    border-radius: .25em;
                    width: 50%;
                    height: 2em;
                }
            }
        }
        .alert {
            .alert-banner {
                margin-left: 2em;
                width: calc(100% - 4em);
                display: flex;
                padding: 0.125em 1em;
                color: white;
                background-color: $primary-color;
                .alert-banner-close {
                    margin: auto;
                    margin-right: 0;
                    cursor: pointer;
                }
            }
        }
    }
}

//The Main
main {
    .traffic {
        padding: 2em;
        .traffic-header {
            display: flex;
            .traffic-nav {
                margin: auto;
                margin-right: 0;
                display: flex;
                list-style: none;
                li {
                    margin-right: 1em;
                    color: black;
                    padding: .5em 1em;
                    border-radius: 2em;
                    background-color: white;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .daily,
    .messaging {
        border: 1px solid black;
        border-right: 0;
        border-left: 0;
        padding: 0 2em;
        padding-bottom: 1em;
        padding-right: 0;
    }
    .mobile-users,
    .settings {
        padding-left: 2em;
        padding-bottom: 1em;
        border-top: 0;
        border-bottom: 1px solid black;
        padding-right: 2em;
    }
    .social {
        padding: 0 2em;
        .social-elements {
            .social-container {
                display: flex;
                padding: 1em;
                border: 1px solid black;
                margin: 2em 0;
                background-color: #eee;
                width: calc(100vw - 4em);
                .social-image {
                    width: 15vw;
                    height: 15vw;
                    background-color: $primary-color;
                    border-radius: 50%;
                    display: grid;
                    grid-template-rows: auto;
                    grid-template-columns: auto;
                    grid-template-areas: 
                        'image'
                    ;
                    img {
                        grid-area: image;
                        width: 50%;
                        display: block;
                        margin: auto;
                    }
                }
                .social-text {
                    margin: auto 0;
                    margin-left: 1em;
                    p {
                        &:first-child {
                            color: $primary-color;
                            font-weight: bold;
                            margin-top: 0;
                        }
                        &:last-child {
                            font-size: 4em;
                            font-weight: lighter;
                            margin-bottom: 0;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
    .new-members {
        padding-left: 2em;
        border: 1px solid black;
        border-right: 0;
        border-left: 0;
        .post-image {
            display: flex;
            width: 100%;
        }
        .member-container {
            @include member-format;
        }
    }
    .recent-activity {
        padding-left: 2em;
        border-top: 0;
        border-bottom: 1px solid black;
        .member-container {
            @include member-format;
            .date {
                transform: scaleY(2);
            }
        }
    }
    .messaging {
        border-top: 0;
        .widget-container{
            padding: 0;
            align-items: center;
            margin: 0 auto;
            margin-left: 0;
            display: flex;
            flex-direction: column;
            width: calc(100vw - 4em);
            .form-field,
            .form-area,
            .button-primary {
                margin-bottom: 1em;
                width: 100%;
            }
            .form-field {
                height: 2em;
                background-color: #eee;
            }
            .form-area {
                height: 7em;
                background-color: #eee;
            }
            .button-primary {
                height: 3em;
                background-color: $primary-color;
                color: white;
            }
        }
    }
    .settings {
        border-top: 0;
        .switch-light {
            display: grid;
            margin-bottom: 1em;
            grid-template-rows: auto;
            grid-template-columns: repeat(3, calc(100% / 3));
            grid-template-areas: 
                'setting switch .'
            ;
            strong {
                grid-area: setting;
            }
            span {
                margin: 0 auto;
                width: 75%;
                grid-area: switch;
            }
        }
        .form-field {
            background-color: #eee;
            margin-top: 1em;
            width: calc(100vw - 4em);
            height: 3em;
            margin-bottom: 1em;
        }
        .settings-buttons {
            button {
                width: calc(100vw - 4em);
                height: 3em;
                &:first-child {
                    color: white;
                    background-color: $primary-color;
                    margin-bottom: 1em;
                }
                &:last-child {
                    color: white;
                    background-color: #ccc;
                }
            }
        }
    }
    .traffic,
    .daily,
    .mobile-users,
    .social,
    .new-members,
    .recent-activity,
    .messaging,
    .settings {
        padding-right: 0;
        padding-left: 1.5em;
    }
}

//The Graphs
canvas[class^='widget-container'] {
    width: calc(90vw - 4em);
}

//The Grid
.grid-container {
    header {
        grid-area: header;
    }
    nav {
        grid-area: nav;
    }
    main {
        grid-area: main;
        display: grid;
    }
    .search-area {
        grid-area: search;
    }
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        'header'
        'nav'
        'search'
        'main'
    ;
}