@import '../utility/variables';

header {
    // background-color: $primary-color;
}

.header-list {
    list-style: none;
    display: flex;
    width: 50%;
    li {
        width: calc(100% / 3);
    }
}

.profile-img {
    border-radius: 50%;
}