@import '../utility/mixins';

@media (min-width: 420px) {
    .search-section {
        .search-area {
            .search-div {
                h2 {
                    margin-left: 2em;
                    margin-right: 2em;
                }
                .search-bar {
                    input {
                        margin-left: 50%;
                        width: 50%;
                    }
                }
            }
        }
    }
}

//The Tablet View
@media (min-width: 768px) {

    //The Header
    .main-header {
        display: flex;
        p {
            margin-left: 2%;
        }
        .header-list {
            margin-top: 0;
            width: auto;
            ul {
                padding-left: 40px;
            }
            .header-item {
                margin: 0 -7.5em;
                margin-right: 0;
                &:last-child {
                    width: auto;
                }
                &:first-child {
                    li {
                        margin-right: 1.5em;
                        border-right: 1px solid black;
                    }
                }
            }
        }
    }

    //The Alert
    .search-section {
        .search-area {
            .alert {
                width: calc(100% - 3em);
                .alert-banner {
                    margin-left: 2em;
                }
            }
        }
    }

    //The Nav
    .nav-list {
        flex-direction: column;
        align-content: center;
        height: 100%;
        .nav-icon {
            margin: 2em auto;
            transform: scale(.85);
        }
    }

    //The Main
    main {
        .traffic {
            .traffic-header {
                flex-direction: row;
                .traffic-nav {
                    margin: auto;
                    margin-right: 0;
                    li {
                        font-size: 1em;
                    }
                }
            }
        }
        .daily,
        .new-members,
        .messaging {
            border-right: 1px solid black;
        }
        .recent-activity,
        .mobile-users {
            border-top: 1px solid black;
        }
        .social {
            .social-elements {
                display: flex;
                .social-container {
                    width: calc(100% / 3);
                    margin-right: 1em;
                    .social-image {
                        width: 7.5vw;
                        height: 7.5vw;
                        margin: auto 0;
                    }
                }
            }
        }
        .messaging {
            .widget-container {
                width: 100%;
                .form-area,
                .form-field {
                    width: 100%;
                }
            }
        }
        .settings {
            .form-field {
                width: 100%;
            }
            .settings-buttons {
                button {
                    width: 45%;
                    &:first-child {
                        margin-bottom: 0;
                    }
                    &:last-child {
                        float: right;
                    }
                }
            }
        }
        .new-members {
            .member-container {
                .post-image {
                    flex-direction: column;
                    padding-left: 1em;
                    margin: auto 0;
                    .member-text {
                        margin-bottom: 1em;
                        margin-left: 0em;
                    }
                    &:last-child {
                        margin-left: 0;
                    }
                    .date {
                        margin-left: 0;
                    }
                }
            }
        }
        .new-members,
        .recent-activity,
        .settings,
        .daily,
        .mobile-users,
        .traffic,
        .messaging {
            padding-right: 1.5em;
            width: 100%;
        }
    }

    //The Grid
    .traffic {
        grid-area: traffic;
    }
    .daily {
        grid-area: daily;
    }
    .mobile-users {
        grid-area: mobile;
    }
    .social {
        grid-area: social;
    }
    .new-members {
        grid-area: new-members;
    }
    .recent-activity {
        grid-area: recent-activity;
    }
    .messaging {
        grid-area: messaging;
        border-bottom: 0;
    }
    .settings {
        grid-area: settings;
    }
    .main-header {
        grid-area: header;
    }
    .grid-container {
        grid-template-columns: 10% 90%;
        grid-template-areas: 
            'header header'
            'nav search'
            'nav main'
        ;
        main {
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
            grid-template-areas: 
                'traffic traffic'
                'daily mobile'
                'social social'
                'new-members recent-activity'
                'messaging settings'
            ;
        }
    }
}

@media (min-width: 1024px) {
    main {
        .new-members {
            .member-container {
                .post-image {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .member-text {
                        margin-bottom: 0;
                    }
                    .date {
                        margin: auto;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}